@charset "utf-8";

/*
 * 
 * Support: #
 * 
 * 
 * Style - Brand
 * Version: 3.0
 */

/* ---------- BrandList ---------- */

div.brandList .list {
	margin-bottom: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #e8e8e8;
}

div.brandList .list li {
	width: 177px;
	height: 80px;
	float: left;
	text-align: center;
	border-bottom: solid 1px #f1f1f1;
}

div.brandList .list li:hover {
	border-bottom-color: #d6d6d6;
}

div.brandList .list li.last {
	border-bottom: none;
}

div.brandList .list li a {
	outline: none;
	blr: expression(this.hideFocus = true);
}

div.brandList .list li img {
	width: 97px;
	height: 50px;
}

div.brandList .list li span {
	line-height: 20px;
	display: block;
	text-align: center;
}

/* ---------- BrandContent ---------- */

div.brandContent .top {
	line-height: 60px;
	margin-bottom: 10px;
	border: solid 1px #e4e4e4;
}

div.brandContent .top img {
	vertical-align: middle;
}

div.brandContent .top strong {
	font-size: 14px;
	font-weight: bold;
	margin: 0px 10px;
}

div.brandContent .introduction {
	line-height: 30px;
	margin-bottom: 10px;
}

div.brandContent .introduction .title {
	height: 29px;
	line-height: 29px;
	margin-bottom: 10px;
	background-color: #d3d3d3;
}

div.brandContent .introduction .title strong {
	width: 120px;
	display: block;
	float: left;
	padding-left: 20px;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	font-family: "Microsoft YaHei";
	background-color: #909090;
}

div.brandContent .introduction .title span {
	width: 70px;
	display: block;
	float: left;
	background-color: #aaa8a9;
}

div.brandContent .product {
	height: 36px;
	margin-bottom: 10px;
	overflow: hidden;
}

div.brandContent .product ul {
	height: 30px;
	padding: 2px 1px;
	border: 1px solid #e4e4e4;
}

div.brandContent .product li {
	height: 30px;
	line-height: 30px;
	display: block;
	float: left;
	padding: 0px 20px;
	border-right: 1px solid #f1f1f1;
	border-left: 1px solid #ffffff;
}

div.brandContent .product .title {
	background-color: #f1f1f1;
}