@charset "utf-8";

/*
 * 
 * Support: #
 * 
 * 
 * Style - FriendLink
 * Version: 3.0
 */

/* ---------- FriendLink ---------- */

div.friendLink .list {
	padding: 10px;
	margin-bottom: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #e8e8e8;
}

div.friendLink .list li {
	line-height: 24px;
	float: left;
	padding: 11px;
}

div.friendLink .list img {
	width: 88px;
	height: 30px;
	display: block;
	padding: 1px;
	border: 1px solid #e4e4e4;
}

div.friendLink .list img:hover {
	border: 1px solid #d6d6d6;
}