@charset "utf-8";

/*
 * 
 * Support: #
 * 
 * 
 * Style - Password
 * Version: 3.0
 */

/* ---------- Password ---------- */

div.password .wrap {
	margin-bottom: 10px;
	border: 2px solid #f2f2f2;
}

div.password .main {
	padding-bottom: 20px;
	border: 1px solid #d7d7d7;
}

div.password .title {
	height: 40px;
	line-height: 40px;
	color: #d8d8d8;
	font-family: "Microsoft YaHei";
	border-bottom: 1px dotted #ededed;
}

div.password .title strong {
	padding: 0px 10px;
	color: #3164af;
	font-size: 18px;
}

div.password table {
	width: 100%;
	margin-top: 20px;
}

div.password th {
	width: 80px;
	padding: 12px;
	font-size: 14px;
	font-weight: normal;
	text-align: right;
}

div.password .captcha {
	width: 130px;
	text-transform: uppercase;
	ime-mode: disabled;
}

div.password .captchaImage {
	margin-left: 10px;
	vertical-align: middle;
	cursor: pointer;
}

div.password .submit {
	width: 100px;
	height: 35px;
	line-height: 35px;
	margin-bottom: 10px;
	color: #ffffff;
	cursor: pointer;
	outline: none;
	blr: expression(this.hideFocus = true);
	border: none;
	background: url(../images/password.gif) 0px 0px no-repeat;
}