@charset "utf-8";

/*
 * 
 * Support: #
 * 
 * 
 * Style - Payment
 * Version: 3.0
 */

/* ---------- Payment ---------- */

div.payment .title {
	height: 80px;
	line-height: 80px;
	text-align: center;
	font-size: 16px;
	font-family: "Microsoft YaHei";
	border: solid 1px #e5e5ce;
	background-color: #edffcc;
}

div.payment .bottom {
	height: 60px;
	line-height: 60px;
	margin-bottom: 10px;
	text-align: center;
	color: #888888;
	border-left: solid 1px #e5e5ce;
	border-right: solid 1px #e5e5ce;
	border-bottom: solid 1px #e5e5ce;
	background-color: #f9f9f9;
}

div.payment .bottom a {
	color: #0088cc;
	font-size: 14px;
	margin: 0px 10px;
}